[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "zonator"]
	path = zonator
	url = https://github.com/cbig/zonator
	shallow = true
	registered = true
